<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-4515415-8"></script>
<script data-ad-client="ca-pub-8360370521305708" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-4515415-8');
</script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Inspired Pics : Free High Resolution Photos and Images </title>
    <meta name="description" content="Rfioyalty Free Photographs and images">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="css/all.css" rel="stylesheet" />

    
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/site.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    
   
</head>
<body class="">
    

    <div id="app">

        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

                <a class="navbar-brand" href="https://www.inspiredpics.co.uk">
                    <img src="images/1.png" width="64" height="64" />
                    Inspired Pics
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item ">
                            <a class="nav-link" v-on:click="GetPhotos()" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" v-on:click="GetPhotos()" href="#">Latest</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Categories
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" v-on:click="GetTagByName('nature')" href="#">Nature</a>
                                <a class="dropdown-item" v-on:click="GetTagByName('business')" href="#">Business</a>
                                <a class="dropdown-item" v-on:click="GetTagByName('landscape')" href="#">Landscape</a>
                                <a class="dropdown-item" v-on:click="GetTagByName('military')" href="#">Military</a>
                                <a class="dropdown-item" v-on:click="GetTagByName('technology')" href="#">Technology</a>
                                <a class="dropdown-item" v-on:click="GetTagByName('people')" href="#">People</a>
                                <a class="dropdown-item" v-on:click="GetTagByName('food')" href="#">Food & Drink</a>
                                <a class="dropdown-item" v-on:click="GetTagByName('holidays')" href="#">Holidays</a>
                                <a class="dropdown-item" v-on:click="GetTagByName('water')" href="#">Sea & Water</a>
                                <a class="dropdown-item" v-on:click="GetTagByName('vehicles')" href="#">Vehicles</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Main
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="terms.html">FAQ and Terms</a>
                                <a class="dropdown-item" href="about.html">About Me</a>
                                <a class="dropdown-item" href="support.html">Buy me a coffee</a>
                                <a class="dropdown-item" href="promotions.html">Promotions and advertising</a>

                            </div>
                        </li>




                    </ul>
<!--                    <a class="" href="#"><i class="fab fa-twitter"></i>Tweet us </a>-->
                    <a class="p-3" href="https://www.facebook.com/inspiredpicsuk/"><i class="fab fa-facebook"></i>Like us </a>

                </div>
            </nav>
        </header>

        <main role="main">
            <div class="container-fluid padtop">


<!-- START ADVERTISER: Wex Photo Video from awin.com -->

<a href="https://www.awin1.com/cread.php?s=169767&v=2298&q=95322&r=156518">
    <img src="https://www.awin1.com/cshow.php?s=169767&v=2298&q=95322&r=156518" border="0">
</a>

<!-- END ADVERTISER: Wex Photo Video from awin.com -->




                <div class="jumbotron jumbotron-fluid header-image text-light mt-3">
                    <div class="container">
                        <h1 class="display-4">{{message}}</h1>
                        <p class="lead">
                            Are you searching for the perfect image for your website, blog post, advertisement, or media project, but don’t want to spend a penny? Inspired Pics has you covered, providing a growing selection of over high quality completely free stock photos that you can use in all types of projects (even commercial!), and there are never any fees.

                            All the images are by Steve Sawyer a York (UK) based photographer
                        </p>
                        <hr class="my-4">
                        <div class="row">
                            <div class="col-sm-3">
                                <img class="img-responsive border rounded-circle" src="images/P8102835-1024x768.jpg" width="256" height="256" />
                            </div>
                            <div class="col-sm ">
                                <p class="p-3 border-light bg-dark">' I had the desire to do something with my library of images, rather than letting them sit on my hard drives! I also wanted to give something back to the design and photographic community from which I've learnt so much over the years. '</p>
                            </div>
                        </div>
                        <div class="row mt-2">

                            <p class="">Search by image tag e.g. :- business computer nature house</p>
                            <br />
                        </div>
                        <form v-on:submit.prevent class="form-inline">

                            <div class="form-group mb-2">

                                <input type="text" v-model="searchTag" class="form-control" id="tag" placeholder="Tag name">
                            </div>
                            <button  v-on:click="GetTagByName(searchTag)" class="btn btn-primary mb-2">
                                <i class="fas fa-search"></i>Search</button>
                        </form>

                        </div>

                </div>
             <div class="row">
                    <div class="col">
                            <div class="wrapper">

                                    <div class="item">
                                        <a v-on:click="GetTagByName('rome')" href="#" >
                                            <div class="polaroid"><img src="images/P4020033.jpg">
                                            <div class="caption">Rome</div>
                                        </div>
                                        </a>
                                    </div>
                                  
                                    
                                    <div class="item">
                                    <a v-on:click="GetTagByName('Poppies')" href="#" >
                                            <div class="polaroid"><img src="images/DSC_7048.jpg">
                                                <div class="caption">Poppies</div>
                                            </div>
                                    </a>
                                    </div>
                                  
                                    <div class="item">
                                        <a v-on:click="GetTagByName('abbeys')" href="#" >
                                                <div class="polaroid"><img src="images/P5303483-Edit.jpg">
                                                    <div class="caption">Abbeys</div>
                                                </div>
                                        </a>
                                    </div>
                                  
                                    <div class="item">
                                            <a  v-on:click="GetTagByName('venice')" href="#" >
                                                <div class="polaroid"><img src="images/P4210555_AuroraHDR2019-edit.jpg">
                                                    <div class="caption">Venice</div>
                                                </div>
                                            </a>
                                    </div>
                                    
                                    <div class="item">
                                            <a  v-on:click="GetTagByName('london')" href="#" >
                                                <div class="polaroid"><img src="images/IMG_20181117_130202351_HDR-EFFECTS.jpg">
                                                    <div class="caption">London</div>
                                                </div>
                                            </a>
                                    </div>
                                  
                                  </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 class="display-3">{{imageMessage}}</h3>
                    </div>
                </div>
                
                <div class="card-columns">
                    
                    <div v-for="item in photos" class="card">
                        <a v-bind:data-uri="item.URI" data-toggle="modal" data-target="#lightbox" href="#">

                            <span>
                                <img class="card-img-top" v-bind:src="item.ThumbUri" alt="Card image cap">

                            </span>
                        </a>
                        <h5>{{item.Description}}</h5>
                    </div>
                </div>
               

            </div>
           
            <!-- Modal -->
            <div class="modal fade" id="lightbox">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content bg-dark">
                        <div class="modal-header">
                            <h4 class="modal-title display-4 text-light">Selected Image</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                               
<!-- START ADVERTISER: Wex Photo Video from awin.com -->

<a href="https://www.awin1.com/cread.php?s=191280&v=2298&q=101633&r=156518">
    <img src="https://www.awin1.com/cshow.php?s=191280&v=2298&q=101633&r=156518" border="0">
</a>

<!-- END ADVERTISER: Wex Photo Video from awin.com -->

                                   
                                        <img class="modal-content mt-2" id="img">
                                        <p class="text-light">Right click on the image and choose open in new tab to see the full size picture</p>
                                    </div>
                                
                               
                          
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
      


                </div>
            </div>
            
            
            

            <!-- FOOTER -->
            <footer class="container-fluid footer">
                <p class="float-right"><a href="#">Back to top</a></p>
                <p class="text-light">&copy; All text and images (c) Stephen Sawyer {{year}}. </p>
            </footer>
        </main>


    </div>

    <script src="js/axios.min.js"></script>
    <script src="js/site.js"></script>
    
    
</body>

</html>